
.user-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
    border: 2px solid black;
    height: 200px;
  }
  
  .selects-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%; 
    padding: 10px;
  }
  
  .centered {
    align-items: center;
  }
  
  .two-columns {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
